@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color: #F2F2F2;
}

body {
  display: flex;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #000000;
  margin: 0 auto;
  max-width: 1200px;
  background-color: #FFFFFF;
  flex-direction: column;
  box-shadow: 0px 0px 15px 0px #00000033;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.logo {
  position: relative;
}

.navigation-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  justify-content: space-around;
  min-width: 268px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-transform: capitalize;
  text-decoration: none;
  padding: 20px 16px;
}

.navigation-link-current {
  border-bottom: #756257 solid 2px;
  position: relative;
}

.search {
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
}

.favorite {
  background-image: url("../images/favorite.svg");
  background-repeat: no-repeat;
}

.likes {
  color: #ffffff;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  text-align: center;
  background-color: #7DB54F;
  border-radius: 50%;
  padding: 4px 5px;
}

.button {
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #82B3D3;
  padding: 8px 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card-button {
  padding: 8px 18px;
  min-width: 140px;
}

.card-button {
  padding: 8px 26px;
}

.button-basic {
  background-color: #756157;
}

.button-big {
  padding: 16px 50px;
  height: 52px;
}

.button-field {
  height: 52px;
  border-radius: 0 4px 4px 0;
}

.button-active {
  background-color: #7DB54F;
}

.reset {
  background: none;
}

.hero {
  background-image: url("../images/hero_frame.png"), url("../images/hero.jpg");
  background-position: bottom, center;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  min-height: 485px;
  margin-top: -10px;
}

.hero-img {
  padding-top: 51px;
}

.subtitle {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  padding-bottom: 20px;
  margin: 0;
}

.content {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding-bottom: 54px;
}

.item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages {
  display: flex;
  flex-direction: column;
}

.advantages-list-title {
  padding: 69px 0 69px 0;
}

.advantages-title {
  padding-bottom: 25px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.advantages-key {
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-color {
  background-color: #83b3d333;
}

.welcome {
  display: flex;
  flex-direction: column;
}

.welcome-list-title {
  padding: 64px 0 64px 0;
}

.welcome-color {
  background-color: #82b2d32f;
}

.welcome-list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.home {
  background-image: url(../images/home.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.food {
  background-image: url(../images/food.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.gift {
  background-image: url(../images/gift.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.booking {
  padding: 96px 0 96px 0;
}

.subscribe {
  color: #ffffff;
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  padding-top: 96px;
  padding-bottom: 104px;
}

.field {
  color: #000000;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 14px 20px;
}

.subscribe-inner {
  color: #000000;
  text-align: center;
  background: none;
}

.filter {
  display: flex;
  color: #ffffff;
  background-image: url("../images/filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  min-height: 412px;
  margin-top: -10px;
  flex-direction: column;
  padding: 35px 70px 70px;
}

.filter-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
  text-align: start;
  padding-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding-bottom: 40px;
}

.catalog {
  display: flex;
  flex-direction: column;
  padding: 50px 70px 60px;
}

.catalog-result {
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-filter {
  display: flex;
}

.option-point {
  line-height: 23px;
}

.result {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.card-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

.card-content {
  list-style-type: none;
}

.card-link {
  color: #000000;
  text-decoration: none;
}

.card-title {
  text-transform: none;
}

.stars-4 {
  background-image: url(../images/star.svg);
  background-repeat: space;
  width: 80px;
  height: 18px;
}

.stars-3 {
  background-image: url(../images/star.svg);
  background-repeat: space;
  width: 60px;
  height: 18px;
}

.stars-2 {
  background-image: url(../images/star.svg);
  background-repeat: space;
  width: 40px;
  height: 18px;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #F2F2F2;
  border-radius: 4px;
  min-width: 140px;
}

.rating-content {
  padding-top: 8px;
  padding-bottom: 9px;
}

.pagination {
  display: flex;
  list-style-type: none;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  background-color: #82B3D3;
  border-radius: 4px;
  padding-top: 11.36px;
  padding-bottom: 12.64px;
}

.pagination-active {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-page {
  background: none;
  font-size: 22px;
  line-height: 26px;
  padding-top: 16.36px;
  padding-bottom: 17.64px;
}

.footer-page {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 40px 70px 30px;
}

.logo-footer {
  padding: 8.5px 0 8.6px 41.5px;
}

.social-list {
  display: flex;
  justify-content: space-around;
  width: 142px;
  list-style-type: none;
  align-items: flex-start;
}

.social {
  color: #82B3D3;
}

.social:hover {
  color: #68A2CA;
}

.social:focus {
  color: #68A2CA;
}

.social:active {
  color: #68A2CA4D;
}

.phone {
  width: 720px;
}

.changecolor {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.changecolor:hover {
  color: #756157;
}

.changecolor:focus {
  color: #756157;
}

.changecolor:active {
  color: #7561574D;
}
