@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color: #F2F2F2;
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
  cursor: default;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: #333333;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px 0px #00000033;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  position: relative;
  color: #000000;
}

.logo {
  position: absolute;
}

.navigation-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-left: 168px;
  flex-wrap: wrap;
}

.navigation-link {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-transform: capitalize;
  text-decoration: none;
  padding: 20px 16px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  min-width: 270px;
  margin-left: auto;
}

.navigation-link-user {
  display: block;
  min-width: 16px;
  min-height: 22px;
  text-decoration: none;
}

.navigation-icon {
  padding: 22px 13px 20px 14px;
}

.navigation-link-current {
  text-decoration: underline #756257 solid 2px;
  position: relative;
  text-underline-offset: 24px;
}

.search:before {
  content: "";
  width: 18px;
  height: 18px;
  display: block;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
}

.favorite:before {
  content: "";
  width: 18px;
  height: 17px;
  display: block;
  background-image: url(../images/favorite.svg);
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  padding: 2px 0;
}

.likes {
  position: absolute;
  top: 11px;
  left: 857px;
  color: #ffffff;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  text-align: center;
  background-color: #7DB54F;
  border-radius: 50%;
  padding: 5px 4.55px;
}

.button {
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #82B3D3;
  padding: 8px 34px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover{
  background-color: #68A2CA;
}

.button:focus{
  background-color: #68A2CA;
}

.button:active{
  background-color: #82B3D3;
  color: #FFFFFF4D;
}

.button:disabled{
  background-color: #E5E5E5;
}

.navigation-button {
  padding: 14px 0 13px 20px;
}

.card-button {
  padding: 8px 20px;
}

.card-link-button {
  padding: 8px 26px;
}

.button-basic {
  background-color: #756157;
}

.button-basic:hover {
  background-color: #615048;
}

.button-basic:focus {
  background-color: #615048;
}
.button-basic:active {
  background-color: #756157;
  color: #FFFFFF4D;
}

.button-basic:disabled {
  background-color: #E5E5E5;

}

.button-big {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  padding: 8px 50px;
  box-sizing: border-box;
  max-width: 376px;
  margin: auto;
}

.button-field {
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
}

.button-active {
  background-color: #7DB54F;
  padding: 8px 18px;
}

.button-active:hover {
  background-color: #6C9E42;
}

.button-active:focus {
  background-color: #6C9E42;
}

.button-active:active {
  background-color: #7DB54F;
  color: #FFFFFF4D;
}

.button-active:disabled {
  background-color: #E5E5E5;
}

.filter-button {
  width: 191px;
}

.reset {
  background: none;
  margin-top: 32px;
}

.reset:hover {
  background: none;
  color: #FFFFFF80;
}

.reset:focus {
  background: none;
  border-radius: 4px;
  border: 3px solid #83B3D3;
  padding: 5px 28px;
}

.reset:active {
  background: none;
  color: #FFFFFF4D;
}

.reset:disabled {
  background: none;
  color: #FFFFFF33;
}

.main-index {
  flex-grow: 1;
}

.hero {
  background-image: url("../images/hero_frame.png"), url("../images/hero.jpg");
  background-position: bottom, center;
  background-repeat: no-repeat;
  background-color: #3F5E72;
  min-height: 485px;
}

.hero-img {
  padding: 51px 370px 78px 370px;
}

.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  padding-bottom: 0;
  margin: 0;
  color: #000000;
}

.subtitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  color: #000000;
}

.content {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.advantages-item {
  padding: 112.5px 85px;
  box-sizing: border-box;
  width: 400px;
}

.advantages-img {
  display: block;
}

.advantages-item-title {
  padding-bottom: 32px;
  position: relative;
}

.advantages-item-title:after {
  content: "";
  background: #0000004D;
  width: 60px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.advantages-key {
  padding: 102px 85px;
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-key-title {
  color: #ffffff;
}

.advantages-key-title:after {
  content: "";
  background: #FFFFFF4D;
  width: 60px;
  height: 2px;
  position: absolute;
}

.advantages-item-content {
  margin: 0;
  padding-top: 30px;
}

.advantages-list-title {
  padding: 69px 274px;
  margin-bottom: 21px;
}

.advantages-title {
  margin-bottom: 25px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.advantages-color {
  background-color: #83b3d333;
}

.welcome-list-title {
  padding: 64px 347px;
}

.welcome-title {
  margin-bottom: 20px;
}

.welcome-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 81px 85px;
  width: 400px;
}

.welcome-color {
  background-color: #82b2d32f;
}

.welcome-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.welcome-item-title {
  margin: 0 0 30px;
}

.welcome-item-content {
  margin: 0;
}

.home:before {
  content: "";
  width: 75px;
  height: 72px;
  display: block;
  background-image: url(../images/home.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 0 30px;
}

.food:before {
  content: "";
  width: 75px;
  height: 72px;
  display: block;
  background-image: url(../images/food.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 0 30px;
}

.gift:before {
  content: "";
  width: 75px;
  height: 76px;
  display: block;
  background-image: url(../images/gift.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 0 26px;
}

.booking {
  padding: 96px 304px 97px;
}

.booking-title {
  margin-bottom: 20px;
}

.booking-content {
  margin-bottom: 53px;
}

.subscribe {
  color: #ffffff;
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #3F5E72;
  padding: 96px 258px 104px;
}

.subscribe-title {
  margin-bottom: 20px;
  color: inherit;
}

.subscribe-content {
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
}

.field {
  color: #000000;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 14px 20px;
  min-width: 412px;
}

.filter {
  display: flex;
  color: #ffffff;
  background-image: url("../images/filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #3F5E72;
  min-height: 412px;
  flex-direction: column;
  padding: 35px 70px 70px;
}

.filter-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0 0 8px;
  text-align: start;
}

.breadcrumbs {
  display: flex;
  font-size: 16px;
  line-height: 21px;
  margin: 0 0 32px;
  padding: 0;
  list-style-type: none;
  grid-gap: 10px;
}

.homepage:before {
  content: "";
  width: 12px;
  height: 12px;
  display: block;
  background-image: url(../images/homepage.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 4px 0;
}

.breadcrumbs-link {
  display: flex;
  grid-gap: 10px;
}

.breadcrumbs-link:before {
  content: "";
  width: 7px;
  height: 10px;
  display: block;
  background-image: url(../images/arrowbread.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px 0;
  grid-gap: 10px;
}

.catalog-slider {
  display: flex;
  border: none;
}

.slider {
  border: none;
  border-radius: 4px 0px 0px 4px;
  width: 73px;
  padding: 12px 50px 12px 20px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.slider-max {
  border-radius: 0 4px 4px 0;
}

.slider-to {
  position: relative;
}

.slider-from {
  position: relative;
  margin-right: 2px;
}

.slider-placeholder {
  position: absolute;
  top: 11px;
  left: 103px;
  color: #0000004D;
}

.catalog {
  display: flex;
  flex-direction: column;
  padding: 50px 70px 60px;
}

.catalog-result {
  display: flex;
  margin-bottom: 40px;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-filter-list {
  display: grid;
  margin: 0;
  gap: 16px;
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.catalog-filter {
  display: flex;
}

.filter-item {
  border: none;
  padding: 0;
  margin: 0;
}

.option {
  cursor: pointer;
}

.option-point {
  line-height: 23px;
  cursor: pointer;
}

.result {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 6.5px 0;
}

.select-control {
  min-width: 292px;
  margin-left: 200px;
  font: inherit;
  padding: 9.5px 20px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  color: #333333;
  appearance: none;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: 256px 20px;
  cursor: pointer;
}

.select-control:hover {
  border-color: #68A2CA;
}

.select-control:focus {
  border-color: #68A2CA;
}

.select-control:disabled {
  border-color: #0000004D;
  color: #0000004D;
}

.table:before {
  content: "";
  width: 20px;
  height: 14px;
  display: block;
  background-image: url(../images/table.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.slideshow:before {
  content: "";
  width: 20px;
  height: 14px;
  display: block;
  background-image: url(../images/slideshow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.list:before {
  content: "";
  width: 20px;
  height: 14px;
  display: block;
  background-image: url(../images/list.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.view {
  display: flex;
  margin-left: 70px;
  min-width: 160px;
  justify-content: space-between;
}

.button-view {
  padding: 15px 12px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
}

.button-view:hover {
  border: 2px solid #000000;
}

.button-view:focus {
  border: 2px solid #68A2CA;
}

.button-view:active {
  border: 2px solid #000000;
}

.view-active {
  border: 2px solid #000000;
}

.card-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 340px);
  list-style-type: none;
  padding: 0;
  margin: 0 0 40px;
}

.card  {
  display: flex;
  flex-direction: column;
  padding: 19px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.card:nth-child(3n) {
  margin-right: 0;
}

.card-link {
  color: #000000;
  text-decoration: none;
}

.card-img {
  display: block;
  order: -1;
  margin-bottom: 16px;
}

.card-title {
  text-transform: none;
  text-align: left;
  margin: 0 0 16px;
}

.card-content {
  padding: 0;
  list-style-type: none;
}

.card-content-item {
  display: flex;
  justify-content: space-between;
}

.card-info {
  margin: 0 0 16px;
}

.card-content-button {
  margin: 0 0 16px;
}

.stars {
  margin: 0;
}

.stars-4 {
  background-image: url(../images/star.svg);
  background-repeat: space;
  background-position: center;
  width: 80px;
  height: 33px;
}

.stars-3 {
  background-image: url(../images/star.svg);
  background-repeat: space;
  background-position: center;
  width: 60px;
  height: 33px;
}

.stars-2 {
  background-image: url(../images/star.svg);
  background-repeat: space;
  background-position: center;
  width: 40px;
  height: 33px;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #F2F2F2;
  border-radius: 4px;
  color: #333333;
  margin: 0;
  padding: 8.5px 23px;
}

.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 40px 0 0;
  position: relative;
}

.pagination:after {
  content: "";
  background: #E6E6E6;
  width: 1060px;
  height: 1px;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #82B3D3;
  border-radius: 4px;
  min-width: 60px;
  height: 60px;
  padding: 10px 10px;
  margin-right: 8px;
}

.pagination-link:hover{
  background-color: #68A2CA;
}

.pagination-link:focus{
  background-color: #68A2CA;
}

.pagination-link:active{
  background-color: #82B3D3;
  color: #FFFFFF4D;
}

.pagination-active {
  color: #000000;
  background-color: #F2F2F2;
  pointer-events: none
}

.pagination-page {
  background: none;
  font-size: 22px;
  line-height: 26px;
  padding-top: 16.36px;
  padding-bottom: 17.64px;
  color: #000000;
  pointer-events: none
}

.subscribe-inner {
  color: #000000;
  text-align: center;
  background: none;
}

.footer-page {
  display: flex;
  padding: 40px 70px 30px;
}

.logo-footer {
  padding: 8.5px 0 8.6px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  width: 142px;
  padding: 6px 0;
  margin: 0;
  list-style-type: none;
}

.social {
  color: #82B3D3;
  padding: 11.5px 13px;
}

.social:hover {
  color: #68A2CA;
}

.social:focus {
  color: #68A2CA;
}

.social:active {
  color: #68A2CA4D;
}

.phone {
  padding: 5px 0;
  margin: 0 auto;
}

.changecolor {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.changecolor:hover {
  color: #756157;
}

.changecolor:focus {
  color: #756157;
}

.changecolor:active {
  color: #7561574D;
}
